/* Breadcrumb Full Width Fix */
.react-breadcrumbs .breadcrumbs-wrap {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.react-breadcrumbs .breadcrumbs-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
}

.react-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}